body{
  
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
 /* TOP CONTAINER */
.top-container{
    background-color: #181823;
    /* position: relative; */
    padding: 5% 15%;
    margin:0;
    color: white;
    
}

/* NAVBAR */
.navbar{
    margin:0 0 7%;
    padding: 0 0 1.5rem;
} 
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Roboto Mono', monospace;
}
/* HEADINGS */
.top-heading{
    padding-bottom: 5%;
}

/* ABOUT */
#about{
    background-color: white;

}
.middle-container{
    padding: 7% 15%;
    margin: 5%;

}

/* skill */
#skill{
    background-color: #181823;
    color:white;
}
.skills{
    padding: 7% 15%;
    margin: 0 3%; 
}
.myskills{
    padding: 0 5% 5%;
}
.skill-heading{
    padding: 5%;
    font-size: 1.5rem;;
}
/* IMAGES */
.me{
    border-radius: 50%;
    width: 200px ;
    height: 200px;
}
.img1{
    
    width: 25%;
    /* float: left; */
    margin-right:30px;
    padding-bottom: 3%;
}
.img2{
    width: 25%;
    /* float: right; */
    margin-left: 10px;
    padding-bottom: 3%;
  
}
.img3{
    width: 25%;
    /* float: left; */
    margin-right:30px;
    padding-bottom: 3%;

}
/* contact */
.contact-me{
    padding: 7% 15%;
    margin: 0 3%; 
}
/* FOOTER */
#footer{
    background-color: #181823;
    color:white;
    /* margin: 100px 0 100px 0; */
    padding: 5% 15%;
}
.footer-link{
    margin: 0 10 20px 0;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* CONTACT PAGE */
.contact-head{
    background-color: #181823;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 4% 13% 7%;
}

.form{
    padding: 4% 20%;
}
