img{
    width: 88%; height: auto;
}
body{
    background-color: lavender;
}
hr{
    border-style: dotted none none none;
    border-width: 5px;
    width: 7%;
}
h1:hover{
    color: blueviolet;
}
img:hover{
   transform: scaleX(-1);
}